*, *:before, *:after{
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  margin: 0px auto;
  width: 420px;
}

.preview-baku {
  position: relative;

}

.preview-baku h1 {
  position: absolute;

}

.preview-london {
  position: relative;

}

.preview-london h1 {
  position: absolute;

}

.preview-madrid {
  position: relative;


}

.preview-madrid h1 {
  position: absolute;

}

.preview-rome {
  position: relative;

}

.preview-rome h1 {
  position: absolute;

}


div {
  display: block;
  padding: 1%;
  width: 90%;
}

img {
  width: 100%;
  height: auto;

}



@media screen and (min-width: 575px){
  div {
    margin: 1% auto;
    width: 50%;
    height: auto;
    float: left;
  }
}


@media screen and (min-width: 991px){
  div {
    margin: 1% auto;
    padding: 1%;
    height: auto;
    width: 25%;
    float: left;
  }
}
